@import '../../global_styles.scss';

.newsModule {
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    & main {
      height: 100%;
    }
  }

  &__article {
    border: 1px solid black;
    padding: 40px;
    height: 500px;
  }

  &__source {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
}

#cnn {
  background-color: $-theme-cnn;
}

#foxnews {
  background-color: $-theme-foxnews;
}

#nyt {
  background-color: $-theme-nyt;
}

#reuters {
  background-color: $-theme-reuters;
}