@import './_global_styles.scss';
* {
  box-sizing: border-box;
  cursor: default;
}

::selection {
  background: #F4F7BE;
}

::-moz-selection {
  background: #F4F7BE;
}

html {
  padding: 40px;
  scroll-behavior: smooth;
  background: $-theme-background;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.app {
  &__header {
    display: flex;
    justify-content: center;
  }
}
